.wrapper {
  margin: 0 auto;
  width: 25%;
  font-size: 14px;
  color: #2C2C2C;
  box-sizing: border-box;
  margin-top: 4em;
}

.row {
  display: flex;
  justify-content: space-between;
  column-gap: 4em;
  padding: 1em .5em;
}

h1 {
  font-size: 1.3em;
}

label {
  font-size: 1.1em;
  font-weight: bold;
}

p {
  text-align: justify;
}

.spacer {
  border-bottom: 1px solid #d3d3d3;
}